*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 27%;
    border: 2px solid grey;
    border-radius: 100%;
    display: block;
    margin: auto;
}


.navbar{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.navList{
    width: 70%;
    display: flex;
    align-items: center;
    font-size: large;
}

.navList li{
    list-style: none;
    padding: 20px 30px;
}

.navList li a{
    text-decoration: none;
    color: white;
}

.navList li a:hover{
    color: grey;
    font-weight: bolder;
}

.rightNav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0px;
    width: 30%;
}

.rightNav button{
    margin: 10px 10px 10px 2px;
}

.navbg{
    background: rgb(43, 40, 40) ;
    /* background-size: cover;
    background-blend-mode: darken; */
}

#search{
    font-size: 20px;
    border: 3px solid grey;
    border-radius: 8px;   
    margin: 5px;
    width: 50%;
}

.firstSection{
    height: 100vh;
}
.mainbg{
    background: rgba(0, 0, 0, 0.7)  url(images/background.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.boxMain{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: auto;
    max-width: 50%;
    height: 70%;
}
.firstHalf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 50%;
    border: 2px solid grey;
    border-radius: 100%;
    display: block;
    margin: auto;
}

.bigtext{
font-size: 40px;
}

.smalltext{
font-size: 20px;
}

.btn{
    padding:4px 10px;
    margin:20px 5px;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    font-size: large;
}
.btn-sm{
    padding: 3px 8px;
    background-color: #f1e9e9;
    border: 2px solid grey;
    border-radius: 6px;
}

.section{
    display: flex;
    max-width: 80%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    padding:3% 0;
}
.left{
    flex-direction: row-reverse;
}
.paras{
    padding:0 50px;
}

.sectiontag{
    padding: 7px 0;
}

hr{
    border: 1px dashed grey;
    max-width: 25%;
    margin: auto;
}

.thumbnail img{
    width:200px;
    border-radius: 15%;
    border: 2px solid grey;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.contactUs{
    background-color: #f0f0f0;
}

.textContact{
    text-align: center;
    font-size: 25px;
    /* font-weight: bolder; */
    padding: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.namebox{
    width: 300px;
    max-width: 300px;
    margin: 0 0 10px;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 5px;
}
.numberbox{
    width: 300px;
    max-width: 300px;
    margin: 0 0 10px;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 5px;
}
.emailbox{
    width: 300px;
    max-width: 300px;
    margin: 0 0 10px;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 5px;
}

.submitForm{
    border: 2px solid grey;
    border-radius: 5px;
    margin: 10px;
    padding: 7px 12px;
    background-color: #f1e9e9;
    cursor: pointer;
}

.problembox{
    margin: 0 0 10px;
    padding: 8px;
    border: 2px solid grey;
    border-radius: 5px;
    /* text-align: center; */
}
::-webkit-input-placeholder {
    text-align: center;
  }

  footer{
    background-color: rgb(43, 40, 40) ;
    color: white;
    text-align: center;
    padding: 20px;
  }