@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
nav ul{
    display: flex;
    list-style: none;
    height: 50px;
    background-color: black;
    align-items: center;
}
nav ul li{
    padding: 0 15px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}
.brand img{
    height: 35px;
    padding: 0 5px;
}
.container{
    height:80vh;
}
.bottom{
    position: sticky;
    background-color: black;
    color: white;
    height: 80px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#myProgressBar{
    width:80vw;
}
.icons{
    margin:12px;
}
.icons i{
    cursor: pointer;
    margin: 3px;
}